pin-depends: [
  ["gcd.dev" "git+https://github.com/patricoferris/ocaml-dispatch#6662b29c20a3db0359759c18677cf3f96c15260f"]
  ["network.dev" "git+https://github.com/patricoferris/ocaml-network#47ba433f6f7c3745f950ee268370fac3473f0775"]
]