pin-depends: [
  ["gcd.dev" "git+https://github.com/patricoferris/ocaml-dispatch#3df9df0422d0384ce70485686791f3dc8f2e67e5"]
  ["network.dev" "git+https://github.com/patricoferris/ocaml-network#ff954f4767442f6c9833c9a9c4b640e08b7dce02"]
]